@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap");

$body-font: "Ancizar Sans", sans-serif;

$yellow: #ffd504;
$black: #000000;
$white: white;



// @mixin subcat {
//   font-size: 12px;
//   font-weight: 800;
// }

// @mixin prolist {
//   font-size: 10px;
// }

// @mixin price {
//   font-size: 10px;
//   font-weight: 800;
// }
